*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}

#navbar{
    background-color: rgb(3, 3, 50);
    height: 10vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0%;
    z-index: 50;
}
.part1{
    width: 20%;
    justify-content: left;
    margin-left: 70px;
}
.part2{
    width: 50%;
}
.part2 a{
    margin: 0 35px;
        text-decoration: none;
        color: white;
}

.part2 a:hover{
    color: aqua;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.image img{
    height: 100vh;
    width: 100%;
    position: relative;
}
.text{
    width: 50%;
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: rgba(0, 0, 255, 0.285);
    height: 100vh;
    padding-top: 13%;
    padding-left: 5%;

}